html {
	margin: 0px;
	padding: 0xp;
	border-color: #1f2937;
}

body {
	padding: 0px;
	margin: 0px;

}


.header {
	display: flex;
	justify-content: space-between;
	background-color: #1f2937;
	color: #F9FAF9;
	font-family: Monospace;
	margin: 0px;
	border-color: #1f2937;
	padding-left: 10px;
   flex-shrink: 0;
}

#logo1 {
	padding-left: 200px;
	font-size: 30px;
}

#menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	padding-right: 200px;
	font-size: 18px;
	gap: 2em;
	flex-shrink: 0;
}

#image1 {
	width: 516px;
	heigh: 235px;
	padding-bottom: 35px;
	padding-right: 200px;
}

.section2 {
	padding-top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #1f2937;
	color: #F9FAF9;
	font-family: Monospace;
	width: 100%;
	flex-shrink: 0;

}

#section2text {
	display: flex;
	flex-direction: column;
	padding-left: 210px;
	flex-wrap: wrap;
	flex-shrink: 0;
}

#button1 {
	background-color: #3882F6;
	color:#F9FAF8;
	font-family: monospace;
	border-color: #3882F6;
	border-style: hidden;
	width: 130px;
	height: 30px;
	align: center;
	font-size: 15px;
	margin-top: 10px;
}

#button1:hover {
	background-color: #F9FAF8;
	color: #3882F6;
	font-family: monospace;
	border-color: #F9FAF8;
	border-style: hidden;
	width: 130px;
	height: 30px;
	align: center;
	font-size: 15px;
	margin-top: 10px;
}

#viewportfolio {
	text-decoration: none;
	color: #F9FAF8;
}

#viewportfolio:hover {
   text-decoration: none;
   color: #3882F6;
}

.section3title {
	margin-bottom: 25px;
	margin-top: 25px;
	text-align: center;
	font-family: monospace;
	font-size: 22px;
	font-weight: bold;
}

.section3container {
	display: flex;
	justify-content: center;
	gap: 250px;
	text-align: center;
	margin-left: -80px;
	flex-shrink: 0;
}

.service {
	max-width: 190px;
}

.servicepic {
	width: 266px;
	height: 228px;
}

.servicepic:hover {
	width: 266px;
	height: 228px;
	border-color: #1f2937;
	border-style: solid;
	border-width: 3px;
}

.text {
	padding-left: 90px;
	margin-top: 20px;
	font-family: monospace;
	font-size: 15px;
	font-weight: bold;
}

.section4container{
	margin-top: 60px;
	background-color: #e5e7eb;
	height: 200px;
	justify-content: center;
	text-align: center;
	display: flex;
	flex-shrink: 0;
}

cite, b {
	font-size: 22px;
}

.s4textcontainer {
	width: 60%;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}


.s5textbox {
	background-color: #3882F6;
	height: 130px;
	display: flex;
	align-items: center;
	margin-top: 80px;
	width: 50%;
	margin-left: 25%;
	justify-content: center;
	flex-wrap: wrap;
	flex-shrink: 0;
	align-content: center;
}

.s5text {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	align-items: space-between;
	flex-shrink: 0;
	color:#F9FAF8;
	font-family: monospace;
}

#s5button {
	background-color: #3882F6;
	color:#F9FAF8;
	font-family: monospace;
	border-color: #F9FAF8;
	border-style: solid;
	width: 150px;
	height: 30px;
	align: center;
	font-size: 17px;
	margin-top: 10px;
}

#s5button:hover {
	background-color: #F9FAF8;
	color: #3882F6;
	font-family: monospace;
	border-color: #F9FAF8;
	border-style: hidden;
	width: 150px;
	height: 30px;
	align: center;
	font-size: 17px;
	margin-top: 10px;
}

#bookmeeting {
	font-size: 25px;
}

#s5subtext {
	font-size: 17px;
}

.footer {
	background-color: #1F2937;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #F9FAF8;
	font-family: monospace;
	font-size: 13px;
	margin-top: 60px;
	flex-shrink: 0;
}
